## Import necessary libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# import plotly.ofline as pyo
# pyo.init_notebook_mode()
# import plotly.express as px

### dataset src: https://www.kaggle.com/datasets/ruchi798/movies-on-netflix-prime-video-hulu-and-disney

In [2]:
df = pd.read_csv('../data/MoviesOnStreamingPlatforms.csv')

In [3]:
df.head(5)

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,The Irishman,2019,18+,98/100,1,0,0,0,0
1,1,2,Dangal,2016,7+,97/100,1,0,0,0,0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
4,4,5,Roma,2018,18+,94/100,1,0,0,0,0

In [4]:
df.shape

(9515, 11)

In [5]:
cols = df.columns.tolist()
cols

['Unnamed: 0',
 'ID',
 'Title',
 'Year',
 'Age',
 'Rotten Tomatoes',
 'Netflix',
 'Hulu',
 'Prime Video',
 'Disney+',
 'Type']

In [6]:
df.drop(['Unnamed: 0', 'ID'], axis=1, inplace=True)

In [7]:
df.head()

,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,The Irishman,2019,18+,98/100,1,0,0,0,0
1,Dangal,2016,7+,97/100,1,0,0,0,0
2,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
3,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
4,Roma,2018,18+,94/100,1,0,0,0,0

In [8]:
cols = df.columns.tolist()
cols

['Title',
 'Year',
 'Age',
 'Rotten Tomatoes',
 'Netflix',
 'Hulu',
 'Prime Video',
 'Disney+',
 'Type']

### Check for Missing Values

In [9]:
df.isna().sum()

Title                 0
Year                  0
Age                4177
Rotten Tomatoes       7
Netflix               0
Hulu                  0
Prime Video           0
Disney+               0
Type                  0
dtype: int64

#### remove '+' sign attached to the values in the age column

In [10]:
age_map = {  '18+':18,
             '7+':7,
             '13+':13,
             'All':0,
             '16+':16
            }

In [11]:
df['AgeCopy'] = df['Age'].map(age_map)

In [12]:
df['AgeCopy']

0       18.0
1        7.0
2        7.0
3        7.0
4       18.0
        ...
9510     NaN
9511     NaN
9512     NaN
9513     NaN
9514     7.0
Name: AgeCopy, Length: 9515, dtype: float64

In [28]:
df['new_Rotten_Tomatoes'] = df['Rotten Tomatoes']

In [29]:
df['new_Rotten_Tomatoes'] = (
    df['new_Rotten_Tomatoes'].str.replace('/100', '', regex=False)
     .str.strip()
     .astype('Int64')   # capital I â†’ Nullable Int dtype
)

In [30]:
df['new_Rotten_Tomatoes']

0       98
1       97
2       95
3       94
4       94
        ..
9510    14
9511    13
9512    13
9513    10
9514    10
Name: new_Rotten_Tomatoes, Length: 9515, dtype: Int64